---
- name: Check github_account variable (RUN ONCE)
  ansible.builtin.assert:
    that:
      - github_account is defined
    fail_msg: "github_account is not defined"
  run_once: true
  when: github_enterprise is not defined

- name: Check access_token variable (RUN ONCE)
  ansible.builtin.assert:
    that:
      - access_token is defined
      - access_token | length > 0
    fail_msg: "access_token was not found or is using an invalid format."
  run_once: true

- name: Check runner_org variable (RUN ONCE)
  ansible.builtin.assert:
    that:
      - runner_org | bool == True or runner_org == False
    fail_msg: "runner_org should be a boolean value"
  run_once: true
  when: github_enterprise is not defined

- name: Check github_repo variable (RUN ONCE)
  ansible.builtin.assert:
    that:
      - github_repo is defined
      - github_repo | length > 0
    fail_msg: "github_repo was not found or is using an invalid format."
  run_once: true
  when: not runner_org and github_enterprise is not defined
