# see https://github.com/myoung34/docker-github-actions-runner#environment-variables for more details on env vars of the docker image
#ACCESS_TOKEN
#APP_ID
#APP_LOGIN
#APP_PRIVATE_KEY
#CONFIGURED_ACTIONS_RUNNER_FILES_DIR
#DISABLE_AUTO_UPDATE
#DISABLE_AUTOMATIC_DEREGISTRATION
#ENTERPRISE_NAME
#GITHUB_HOST
EPHEMERAL={{ runner_docker_settings.ephemeral }}
LABELS={{ runner_labels | join(',') }}
ORG_NAME={{github_owner}}
RANDOM_RUNNER_SUFFIX=random
REPO_URL={{ github_url }}/{{ github_owner | default(github_account) }}/{{ github_repo | default() }}/repo
RUN_AS_ROOT=false
RUNNER_GROUP={{runner_group}}
RUNNER_NAME={{runner_name}}
#RUNNER_NAME_PREFIX
RUNNER_SCOPE={{ 'org' if runner_org == 'yes' else 'repo' }}
RUNNER_TOKEN={{ registration.json.token }}
RUNNER_WORKDIR={{runner_docker_settings.workdir}}
# START_DOCKER_SERVICE
