name: molecule test

on:
    push:
        branches:
            - master
            - develop
    schedule:
        - cron: '0 6 * * 0'
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
      - name: checkout
        uses: actions/checkout@v2
        with:
          path: "${{ github.repository }}"
      - name: Molecule for Ansible
        uses: MonolithProjects/action-molecule@v1.0.1
        env:
          PERSONAL_ACCESS_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}