name: molecule test

on:
    pull_request:
        branches:
            - main
            - master
        types: [opened, synchronize, reopened]
        paths:
          - 'defaults/**'
          - 'handlers/**'
          - 'molecule/**'
          - 'tasks/**'
          - 'vars/**'
    schedule:
        - cron: '0 6 * * 0'
    workflow_dispatch:

jobs:
  repo:
    name: Test Repo Runner
    environment:
      name: test
    runs-on: ubuntu-18.04
    strategy:
      fail-fast: false
      matrix:
        config:
          - os: "debian9"
            tag: "latest"
          - os: "debian10"
            tag: "latest"
          - os: "debian11"
            tag: "latest"
          - os: "fedora35"
            tag: "latest"
          - os: "ubuntu20"
            tag: "latest"
          - os: "ubuntu22"
            tag: "latest"
          - os: "rockylinux8"
            tag: "latest"
    steps:
      - name: checkout
        uses: actions/checkout@v3
        with:
          path: "${{ github.repository }}"
      - name: Molecule for Ansible - GHR Repository
        uses: MonolithProjects/action-molecule@v1.4.5
        env:
          PERSONAL_ACCESS_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
        with:
          os: ${{ matrix.config.os }}
          tag: ${{ matrix.config.tag }}
          molecule_command: test
          scenario: repo

  org:
    name: Test Org Runner
    environment:
      name: test
    runs-on: ubuntu-18.04
    strategy:
      fail-fast: false
    steps:
      - name: checkout
        uses: actions/checkout@v3
        with:
          path: "${{ github.repository }}"
      - name: Molecule for Ansible - GHR Organization
        uses: MonolithProjects/action-molecule@v1.4.5
        env:
          PERSONAL_ACCESS_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
        with:
          molecule_command: test
          scenario: org
