name: molecule test

on:
    pull_request:
        branches:
            - master
        types: [opened, synchronize, reopened]
    schedule:
        - cron: '0 6 * * 0'
jobs:
  repo:
    name: Test Repo Runner
    runs-on: ubuntu-18.04
    strategy:
      fail-fast: false
      matrix:
        config:
          - os: "centos7"
            tag: "latest"
          - os: "centos8"
            tag: "latest"
          - os: "debian9"
            tag: "latest"
          - os: "debian10"
            tag: "latest"
          - os: "fedora34"
            tag: "latest"
          - os: "ubuntu18"
            tag: "latest"
          - os: "ubuntu20"
            tag: "latest"
    steps:
      - name: checkout
        uses: actions/checkout@v2
        with:
          path: "${{ github.repository }}"
      - name: Molecule for Ansible - GHR Repository
        uses: MonolithProjects/action-molecule@v1.4.3
        env:
          PERSONAL_ACCESS_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
        with:
          os: ${{ matrix.config.os }}
          tag: ${{ matrix.config.tag }}
          molecule_command: test
          scenario: repo

  org:
    name: Test Org Runner
    runs-on: ubuntu-18.04
    strategy:
      fail-fast: false
    steps:
      - name: checkout
        uses: actions/checkout@v2
        with:
          path: "${{ github.repository }}"
      - name: Molecule for Ansible - GHR Organization
        uses: MonolithProjects/action-molecule@v1.4.3
        env:
          PERSONAL_ACCESS_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
        with:
          molecule_command: test
          scenario: org